.content{
    grid-area: c;
    background-color: azure;
    }
    .item {
        color: rgb(228, 56, 56);
    }
    .item img{
        padding: 10px;
        height: 70px;
    }
    .item {
        color: pink;
    }