.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;

}


.dialog a {
    color: rgb(241, 14, 128);
    text-decoration: none;

}
.dialog a.active{
    color: rgb(0, 255, 81);
}

.messages {
    color: blueviolet;

}